.sidebar-container {
    display: flex;
    height: 100vh;
    background: #fff;
}

.sidebar {
    width: 250px;
    background-color: var(--blue-gray);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001;
    background-color: transparent;
    border: none;
}

.sidebar.open ~ .sidebar-toggle {
    left: 250px;
}

.sidebar-toggle {
    left: 0;
}

.sidebar-toggle:hover::after {
    content: attr(data-toggle-text);
    position: absolute;
    top: -35px;
    right: 100%;
    white-space: nowrap;
    padding: 5px 10px;
    background-color: var(--dark-blue-gray);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    display: block;
}

.custom-link {
    padding: 10px 0 10px 16px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    word-break: keep-all;
    color: white !important;
}

.nav-link {
    display: block;
    cursor: pointer;
    color: white !important;
    text-decoration: none;
}

.sub-menu .nav-link {
    padding-left: 30px;
}